version: '2'
volumes:
  mongo-data:
    driver: local

services:
  mongo:
    image: mongo:latest
    hostname: mongourl
    restart: on-failure
    volumes:
      - mongo-data:/data/db
    expose:
      - 27017
    ports:
      - 27017:27017
